
LOG_FILE=app.log
PYTHON_ENV=development

CORS_ALLOW_ORIGINS="http://localhost, http://127.0.0.1"

DB_USER=postgres
DB_PASSWORD=my_secure_password
DB_NAME=little-lemon
DB_PORT=5432

# This is used for local development (poetry run)
DB_HOST=localhost

SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRATION_HOURS=
REFRESH_TOKEN_EXPIRE_DAYS=
JWT_EXPIRATION_MINUTES=
