
LOG_FILE=app.log
PYTHON_ENV=development

CORS_ALLOW_ORIGINS="http://localhost, http://127.0.0.1"

SQLALCHEMY_DATABASE_URI=postgresql+asyncpg://postgres:password@localhost/little_lemon

SCHEDULER_INTERVAL=60

SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRATION_HOURS=24
